@charset "UTF-8";

$color-black: #000000;
$color-white: #FFFFFF;

$color-gray-100: #F7FAFC;
$color-gray-200: #EDF2F7;
$color-gray-300: #E2E8F0;
$color-gray-400: #CBD5E0;
$color-gray-500: #A0AEC0;
$color-gray-600: #718096;
$color-gray-700: #4A5568;
$color-gray-800: #2D3748;
$color-gray-900: #1A202C;

$color-red-100: #FFF5F5;
$color-red-200: #FED7D7;
$color-red-300: #FEB2B2;
$color-red-400: #FC8181;
$color-red-500: #F56565;
$color-red-600: #E53E3E;
$color-red-700: #C53030;
$color-red-800: #9B2C2C;
$color-red-900: #742A2A;

$color-blue-100: #EBF8FF;
$color-blue-200: #BEE3F8;
$color-blue-300: #90CDF4;
$color-blue-400: #63B3ED;
$color-blue-500: #4299E1;
$color-blue-600: #3182CE;
$color-blue-700: #2B6CB0;
$color-blue-800: #2C5282;
$color-blue-900: #2A4365;

$color-chinazi-red: #DE2910;
