@charset "UTF-8";

$footer-text-color:             $color-gray-400;
$footer-link-text-color:        $color-blue-400;
$footer-link-text-hover-color:  $color-blue-500;
$footer-link-text-active-color: $color-blue-600;
$footer-heart-text-color:       $color-red-600;

footer
{
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;

    > p
    {
        color: $footer-text-color;

        a
        {
            color: $footer-link-text-color;
            text-decoration-line: underline;

            &:hover
            {
                color: $footer-link-text-hover-color;
            }

            &:active
            {
                color: $footer-link-text-active-color;
            }
        }

        .heart
        {
            color: $footer-heart-text-color;
            line-height: 16px;
            font-size: 20px;
        }
    }
}
