@charset "UTF-8";

$main-unit-text-color: $color-gray-300;

$main-value-font-size:    65px;
$main-value-font-size-md: 75px;
$main-value-font-size-lg: 100px;

$main-unit-font-size: 18px;

main
{
    display: flex;
    flex-direction: column;

    @include screen-sm()
    {
        flex-direction: row;
        justify-content: center;
    }

    > section
    {
        display: flex;
        flex-direction: row;
        justify-content: center;

        @include screen-sm()
        {
            justify-content: end;
        }

        > figure
        {
            margin-left: 5px;
            margin-right: 5px;
            text-align: center;

            > span
            {
                display: block;
                width: 2.5ch;
                font-family: "Anonymous Pro", monospace;
                font-size: $main-value-font-size;

                @include screen-md()
                {
                    font-size: $main-value-font-size-md;
                }

                @include screen-lg()
                {
                    font-size: $main-value-font-size-lg;
                }
            }

            > figcaption
            {
                color: $main-unit-text-color;
                text-transform: uppercase;
                font-size: $main-unit-font-size;
            }
        }
    }
}
