@charset "UTF-8";

$seriously-body-text-color:       $color-black;
$seriously-body-background-color: $color-seriously-red;

$seriously-header-subtitle-text-color: $color-gray-900;

$seriously-main-unit-text-color: $color-gray-900;

$seriously-footer-text-color:             $color-gray-800;
$seriously-footer-link-text-color:        $color-gray-800;
$seriously-footer-link-text-hover-color:  $color-blue-800;
$seriously-footer-link-text-active-color: $color-blue-900;
$seriously-footer-heart-text-color:       $color-black;

body.aw-seriously
{
    color: $seriously-body-text-color;
    background-color: $seriously-body-background-color;

    header > span
    {
        color: $seriously-header-subtitle-text-color;
    }

    main > section > figure > figcaption
    {
        color: $seriously-main-unit-text-color;
    }

    footer > p
    {
        color: $seriously-footer-text-color;

        a
        {
            color: $seriously-footer-link-text-color;

            &:hover
            {
                color: $seriously-footer-link-text-hover-color;
            }

            &:active
            {
                color: $seriously-footer-link-text-active-color;
            }
        }

        .heart
        {
            color: $seriously-footer-heart-text-color;
        }
    }
}
