@charset "UTF-8";

@import "../theme/utilities/colors";
@import "../theme/utilities/screen";

$header-title-font-size:    35px;
$header-title-font-size-sm: 40px;
$header-title-font-size-md: 50px;
$header-title-font-size-lg: 55px;

$header-subtitle-font-size:    20px;
$header-subtitle-font-size-sm: 25px;
$header-subtitle-font-size-md: 30px;
$header-subtitle-font-size-lg: 35px;

$header-subtitle-text-color: $color-gray-300;

.root
{
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;

    > h1
    {
        text-transform: uppercase;
        font-size: $header-title-font-size;

        @include screen-sm()
        {
            font-size: $header-title-font-size-sm;
        }

        @include screen-md()
        {
            font-size: $header-title-font-size-md;
        }

        @include screen-lg()
        {
            font-size: $header-title-font-size-lg;
        }
    }

    > p
    {
        color: $header-subtitle-text-color;
        font-size: $header-subtitle-font-size;

        @include screen-sm()
        {
            font-size: $header-subtitle-font-size-sm;
        }

        @include screen-md()
        {
            font-size: $header-subtitle-font-size-md;
        }

        @include screen-lg()
        {
            font-size: $header-subtitle-font-size-lg;
        }
    }
}
